In [4]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
import hvplot.pandas
import config;
from config import db_pw;
import psycopg2;

In [5]:
#establishing the connection
conn = psycopg2.connect(
   database="Senescence_DB", user='postgres', password= db_pw, host='127.0.0.1', port= '5432'
)

#Setting auto commit false
conn.autocommit = True

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Retrieving data
cursor.execute('''SELECT * from birds_data_raw''')

#Fetching 1st row from the table
bird_df = pd.DataFrame(cursor.fetchall(), columns=["Collection_Num", "Bird_ID", "Sex", "Agey", "AgeClass", "BirthFPID", "U_PlateID", "RTL", "Technician", "Terr", "FPID", "Mum", "Dad", "Mac", "Pac", "BRF", "BRM"]);
print(result_df)

#Commit your changes in the database
conn.commit()

#Closing the connection
conn.close()

      Collection_Num  Bird_ID  Sex       Agey AgeClass  BirthFPID U_PlateID  \
0                  1     5511    0   0.246575        J        103       9_3
1                  2     5559    1   3.597260        A        103       9_1
2                  3     5559    1   4.715068        A        103      9_28
3                  4     5559    1   0.657534       SA        103       9_2
4                  5     5527    1   0.328767      OFL        103       9_3
...              ...      ...  ...        ...      ...        ...       ...
2657            2658      221    1   6.958904        A          8       2_1
2658            2659      216    1   8.947945        A          8       8_8
2659            2660      176    1   6.772603        A          8      7_32
2660            2661      221    1   9.090411        A          8      1_12
2661            2662      176    1  13.873973        A          8       4_3

       RTL  Technician   Terr  FPID   Mum   Dad       Mac       Pac   BRF  \
0     1.06           1   10.0   104  4863  1762  3.920548  7.443836  4863
1     0.52           1   77.1   122  1716  1877  7.416438  6.235616  1716
2     1.07           1   77.1   125  1716  1877  7.416438  6.235616  1716
3     0.99           1  111.0   104  1716  1877  7.416438  6.235616  1716
4     1.02           1  131.0   104  4936  1710  3.452055  7.778082  1707
...    ...         ...    ...   ...   ...   ...       ...       ...   ...
2657  1.99           2   32.0    19     0     0  0.000000  0.000000     0
2658  1.18           1   37.0    22     0     0  0.000000  0.000000     0
2659  0.93           1   46.0    19     0     0  0.000000  0.000000     0
2660  0.90           2   32.0    22     0     0  0.000000  0.000000     0
2661  0.72           2   46.0    41     0     0  0.000000  0.000000     0

       BRM
0     1762
1     4892
2     4892
3     4892
4     1710
...    ...
2657     0
2658     0
2659     0
2660     0
2661     0

[2662 rows x 17 columns]

In [6]:
passover_list = [0,1]
changeRate_df = pd.DataFrame(columns=["Bird_ID", "Age_Change", "RTL_Change"])
for i in range(len(bird_df["Bird_ID"])):
    if(bird_df.loc[i,"Bird_ID"] not in passover_list):
        k = i+1
        holder_df = pd.DataFrame({"ID": [bird_df.loc[i,"Bird_ID"]], "Age": [bird_df.loc[i, "Agey"]], "RTL": [bird_df.loc[i,"RTL"]]})
        while(bird_df.loc[k,"Bird_ID"] == bird_df.loc[i,"Bird_ID"]):
            holder_df = holder_df.append({"ID": bird_df.loc[k,"Bird_ID"], "Age": bird_df.loc[k, "Agey"], "RTL": bird_df.loc[k,"RTL"]}, ignore_index=True)
            k = k+1
        if(len(holder_df) > 1):
            max_age = 0
            min_age = 0
            final_rtl = 0
            first_rtl = 0
            for row in holder_df.iterrows():
                print(row[1])
                id = row[1].ID
                if(row[1].Age == max(holder_df["Age"])):
                    max_age = row[1].Age
                    final_rtl = row[1].RTL
                elif(row[1].Age == min(holder_df["Age"])):
                    min_age = row[1].Age
                    first_rtl = row[1].RTL
            age_change = max_age - min_age
            rtl_change = final_rtl - first_rtl
            changeRate_df = changeRate_df.append({"Bird_ID": id, "Age_Change": age_change, "RTL_Change": rtl_change}, ignore_index=True)
        else:
            changeRate_df = changeRate_df.append({"Bird_ID": holder_df.loc[0,"ID"], "Age_Change": holder_df.loc[0, "Age"], "RTL_Change": holder_df.loc[0,"RTL"]}, ignore_index=True)
        passover_list.append(bird_df.loc[i,"Bird_ID"])

ID     5559.00000
Age       3.59726
RTL       0.52000
Name: 0, dtype: float64
ID     5559.000000
Age       4.715068
RTL       1.070000
Name: 1, dtype: float64
ID     5559.000000
Age       0.657534
RTL       0.990000
Name: 2, dtype: float64
ID     5539.000000
Age       1.964384
RTL       0.360000
Name: 0, dtype: float64
ID     5539.000000
Age       0.657534
RTL       0.610000
Name: 1, dtype: float64
ID     5536.000000
Age       1.252055
RTL       0.930000
Name: 0, dtype: float64
ID     5536.000000
Age       0.328767
RTL       0.470000
Name: 1, dtype: float64
ID     5536.000000
Age       4.249315
RTL       0.960000
Name: 2, dtype: float64
ID     5536.000000
Age       3.471233
RTL       0.660000
Name: 3, dtype: float64
ID     5549.000000
Age       2.589041
RTL       0.490000
Name: 0, dtype: float64
ID     5549.000000
Age       0.657534
RTL       0.370000
Name: 1, dtype: float64
ID     5509.000000
Age       1.315068
RTL       0.840000
Name: 0, dtype: float64
ID     5509.000000
Age       0.328767
RTL       0.820000
Name: 1, dtype: float64
ID     5573.000000
Age       0.657534
RTL       0.740000
Name: 0, dtype: float64
ID     5573.000000
Age       1.676712
RTL       1.030000
Name: 1, dtype: float64
ID     5534.000000
Age       0.328767
RTL       1.010000
Name: 0, dtype: float64
ID     5534.000000
Age       1.471233
RTL       1.420000
Name: 1, dtype: float64
ID     5553.00000
Age       1.10137
RTL       0.80000
Name: 0, dtype: float64
ID     5553.000000
Age       0.043836
RTL       0.700000
Name: 1, dtype: float64
ID     5553.000000
Age       1.353425
RTL       1.120000
Name: 2, dtype: float64
ID     5652.000000
Age       1.084932
RTL       0.580000
Name: 0, dtype: float64
ID     5652.000000
Age       0.657534
RTL       0.800000
Name: 1, dtype: float64
ID     5547.000000
Age       2.517808
RTL       0.760000
Name: 0, dtype: float64
ID     5547.000000
Age       3.465753
RTL       1.060000
Name: 1, dtype: float64
ID     5547.000000
Age       0.032877
RTL       0.880000
Name: 2, dtype: float64
ID     5547.000000
Age       0.893151
RTL       0.990000
Name: 3, dtype: float64
ID     5547.000000
Age       1.852055
RTL       0.520000
Name: 4, dtype: float64
ID     5625.000000
Age       0.657534
RTL       0.360000
Name: 0, dtype: float64
ID     5625.000000
Age       2.216438
RTL       0.730000
Name: 1, dtype: float64
ID     5625.000000
Age       1.254795
RTL       1.090000
Name: 2, dtype: float64
ID     5625.000000
Age       2.619178
RTL       0.960000
Name: 3, dtype: float64
ID     5625.000000
Age       3.824658
RTL       0.550000
Name: 4, dtype: float64
ID     5561.000000
Age       1.378082
RTL       0.620000
Name: 0, dtype: float64
ID     5561.00000
Age       0.09863
RTL       0.75000
Name: 1, dtype: float64
ID     5597.000000
Age       3.810959
RTL       1.010000
Name: 0, dtype: float64
ID     5597.000000
Age       2.805479
RTL       0.760000
Name: 1, dtype: float64
ID     5597.000000
Age       3.854795
RTL       0.470000
Name: 2, dtype: float64
ID     5597.000000
Age       0.657534
RTL       0.820000
Name: 3, dtype: float64
ID     5683.000000
Age       3.756164
RTL       0.700000
Name: 0, dtype: float64
ID     5683.000000
Age       3.021918
RTL       1.080000
Name: 1, dtype: float64
ID     5683.00
Age       1.00
RTL       1.09
Name: 2, dtype: float64
ID     5683.000000
Age       2.838356
RTL       0.590000
Name: 3, dtype: float64
ID     5542.000000
Age       1.860274
RTL       0.300000
Name: 0, dtype: float64
ID     5542.000000
Age       0.035616
RTL       1.010000
Name: 1, dtype: float64
ID     5584.000000
Age       1.906849
RTL       1.440000
Name: 0, dtype: float64
ID     5584.00000
Age       3.69589
RTL       1.14000
Name: 1, dtype: float64
ID     5584.000000
Age       0.657534
RTL       0.640000
Name: 2, dtype: float64
ID     5642.000000
Age       2.663014
RTL       0.830000
Name: 0, dtype: float64
ID     5642.000000
Age       0.657534
RTL       0.740000
Name: 1, dtype: float64
ID     5642.000000
Age       1.775342
RTL       1.790000
Name: 2, dtype: float64
ID     5679.000000
Age       3.676712
RTL       0.550000
Name: 0, dtype: float64
ID     5679.000000
Age       0.657534
RTL       1.000000
Name: 1, dtype: float64
ID     5557.000000
Age       0.873973
RTL       0.900000
Name: 0, dtype: float64
ID     5557.000000
Age       1.068493
RTL       0.890000
Name: 1, dtype: float64
ID     5557.000000
Age       0.038356
RTL       0.890000
Name: 2, dtype: float64
ID     5611.000000
Age       0.657534
RTL       0.660000
Name: 0, dtype: float64
ID     5611.000000
Age       3.643836
RTL       0.820000
Name: 1, dtype: float64
ID     5610.000000
Age       0.808219
RTL       0.550000
Name: 0, dtype: float64
ID     5610.000000
Age       0.657534
RTL       0.830000
Name: 1, dtype: float64
ID     5634.000000
Age       2.178082
RTL       1.060000
Name: 0, dtype: float64
ID     5634.000000
Age       0.657534
RTL       0.800000
Name: 1, dtype: float64
ID     5634.00000
Age       3.60274
RTL       0.34000
Name: 2, dtype: float64
ID     5640.000000
Age       0.657534
RTL       0.580000
Name: 0, dtype: float64
ID     5640.000000
Age       3.580822
RTL       0.550000
Name: 1, dtype: float64
ID     5612.000000
Age       1.583562
RTL       0.840000
Name: 0, dtype: float64
ID     5612.000000
Age       0.657534
RTL       0.670000
Name: 1, dtype: float64
ID     5612.000000
Age       2.832877
RTL       0.110000
Name: 2, dtype: float64
ID     5636.000000
Age       0.657534
RTL       0.540000
Name: 0, dtype: float64
ID     5636.000000
Age       1.506849
RTL       0.940000
Name: 1, dtype: float64
ID     5564.000000
Age       0.865753
RTL       1.200000
Name: 0, dtype: float64
ID     5564.000000
Age       0.024658
RTL       1.400000
Name: 1, dtype: float64
ID     5564.00000
Age       3.09863
RTL       0.66000
Name: 2, dtype: float64
ID     5620.000000
Age       3.882192
RTL       0.420000
Name: 0, dtype: float64
ID     5620.000000
Age       1.624658
RTL       0.930000
Name: 1, dtype: float64
ID     5620.000000
Age       0.657534
RTL       0.140000
Name: 2, dtype: float64
ID     5543.000000
Age       0.920548
RTL       1.080000
Name: 0, dtype: float64
ID     5543.000000
Age       1.920548
RTL       0.620000
Name: 1, dtype: float64
ID     5543.000000
Age       2.123288
RTL       0.920000
Name: 2, dtype: float64
ID     5543.000000
Age       0.021918
RTL       1.450000
Name: 3, dtype: float64
ID     5609.00
Age       1.00
RTL       1.27
Name: 0, dtype: float64
ID     5609.000000
Age       1.454795
RTL       0.720000
Name: 1, dtype: float64
ID     5575.000000
Age       0.052055
RTL       0.700000
Name: 0, dtype: float64
ID     5575.000000
Age       3.857534
RTL       0.590000
Name: 1, dtype: float64
ID     5575.000000
Age       1.068493
RTL       0.750000
Name: 2, dtype: float64
ID     5575.000000
Age       4.057534
RTL       0.820000
Name: 3, dtype: float64
ID     5575.000000
Age       2.947945
RTL       0.780000
Name: 4, dtype: float64
ID     5545.000000
Age       2.939726
RTL       1.410000
Name: 0, dtype: float64
ID     5545.000000
Age       0.019178
RTL       0.570000
Name: 1, dtype: float64
ID     5678.000000
Age       2.060274
RTL       0.820000
Name: 0, dtype: float64
ID     5678.000000
Age       0.657534
RTL       0.920000
Name: 1, dtype: float64
ID     5602.000000
Age       3.824658
RTL       0.750000
Name: 0, dtype: float64
ID     5602.00000
Age       3.89863
RTL       0.52000
Name: 1, dtype: float64
ID     5551.000000
Age       1.331507
RTL       1.160000
Name: 0, dtype: float64
ID     5551.000000
Age       0.024658
RTL       1.310000
Name: 1, dtype: float64
ID     5635.000000
Age       2.747945
RTL       1.020000
Name: 0, dtype: float64
ID     5635.000000
Age       0.953425
RTL       0.780000
Name: 1, dtype: float64
ID     5635.000000
Age       0.657534
RTL       0.580000
Name: 2, dtype: float64
ID     5626.000000
Age       0.808219
RTL       0.420000
Name: 0, dtype: float64
ID     5626.000000
Age       2.841096
RTL       0.710000
Name: 1, dtype: float64
ID     5626.000000
Age       0.657534
RTL       0.490000
Name: 2, dtype: float64
ID     5626.00000
Age       3.59726
RTL       1.05000
Name: 3, dtype: float64
ID     5587.000000
Age       0.879452
RTL       0.720000
Name: 0, dtype: float64
ID     5587.000000
Age       0.657534
RTL       1.040000
Name: 1, dtype: float64
ID     5583.000000
Age       0.657534
RTL       0.920000
Name: 0, dtype: float64
ID     5583.000000
Age       2.827397
RTL       0.950000
Name: 1, dtype: float64
ID     5607.000000
Age       0.863014
RTL       0.230000
Name: 0, dtype: float64
ID     5607.000000
Age       0.657534
RTL       0.200000
Name: 1, dtype: float64
ID     5596.000000
Age       0.657534
RTL       0.640000
Name: 0, dtype: float64
ID     5596.000000
Age       1.290411
RTL       0.510000
Name: 1, dtype: float64
ID     5540.00000
Age       0.90137
RTL       0.47000
Name: 0, dtype: float64
ID     5540.000000
Age       1.013699
RTL       0.520000
Name: 1, dtype: float64
ID     5540.000000
Age       0.035616
RTL       0.800000
Name: 2, dtype: float64
ID     5540.000000
Age       1.312329
RTL       0.690000
Name: 3, dtype: float64
ID     5643.000000
Age       3.183562
RTL       0.720000
Name: 0, dtype: float64
ID     5643.000000
Age       3.610959
RTL       0.520000
Name: 1, dtype: float64
ID     5643.000000
Age       1.794521
RTL       0.200000
Name: 2, dtype: float64
ID     5643.000000
Age       0.657534
RTL       0.560000
Name: 3, dtype: float64
ID     5643.00000
Age       2.70137
RTL       0.26000
Name: 4, dtype: float64
ID     5643.000000
Age       1.531507
RTL       0.260000
Name: 5, dtype: float64
ID     5604.000000
Age       0.747945
RTL       0.800000
Name: 0, dtype: float64
ID     5604.000000
Age       3.673973
RTL       0.630000
Name: 1, dtype: float64
ID     5604.000000
Age       0.657534
RTL       1.100000
Name: 2, dtype: float64
ID     5604.000000
Age       1.306849
RTL       0.410000
Name: 3, dtype: float64
ID     5604.000000
Age       2.638356
RTL       0.510000
Name: 4, dtype: float64
ID     5605.000000
Age       0.657534
RTL       0.760000
Name: 0, dtype: float64
ID     5605.000000
Age       0.876712
RTL       0.530000
Name: 1, dtype: float64
ID     5605.000000
Age       1.619178
RTL       0.390000
Name: 2, dtype: float64
ID     5590.000000
Age       2.578082
RTL       0.740000
Name: 0, dtype: float64
ID     5590.000000
Age       0.526027
RTL       0.400000
Name: 1, dtype: float64
ID     5590.000000
Age       1.378082
RTL       0.920000
Name: 2, dtype: float64
ID     5590.000000
Age       1.991781
RTL       1.910000
Name: 3, dtype: float64
ID     5590.000000
Age       2.416438
RTL       1.330000
Name: 4, dtype: float64
ID     5686.00000
Age       0.90137
RTL       0.82000
Name: 0, dtype: float64
ID     5686.000000
Age       0.164384
RTL       0.830000
Name: 1, dtype: float64
ID     5650.000000
Age       0.027397
RTL       0.600000
Name: 0, dtype: float64
ID     5650.00000
Age       1.90411
RTL       0.47000
Name: 1, dtype: float64
ID     5776.000000
Age       1.643836
RTL       0.650000
Name: 0, dtype: float64
ID     5776.000000
Age       0.657534
RTL       0.760000
Name: 1, dtype: float64
ID     5776.000000
Age       3.153425
RTL       0.650000
Name: 2, dtype: float64
ID     5776.000000
Age       2.052055
RTL       1.340000
Name: 3, dtype: float64
ID     5641.000000
Age       3.465753
RTL       0.930000
Name: 0, dtype: float64
ID     5641.000000
Age       0.328767
RTL       1.010000
Name: 1, dtype: float64
ID     5641.000000
Age       2.252055
RTL       0.680000
Name: 2, dtype: float64
ID     5641.000000
Age       1.835616
RTL       0.520000
Name: 3, dtype: float64
ID     5775.000000
Age       0.246575
RTL       1.180000
Name: 0, dtype: float64
ID     5775.000000
Age       0.843836
RTL       0.890000
Name: 1, dtype: float64
ID     5836.000000
Age       2.106849
RTL       1.070000
Name: 0, dtype: float64
ID     5836.00
Age       1.00
RTL       1.37
Name: 1, dtype: float64
ID     5595.000000
Age       1.271233
RTL       1.030000
Name: 0, dtype: float64
ID     5595.000000
Age       2.427397
RTL       0.320000
Name: 1, dtype: float64
ID     5595.000000
Age       3.323288
RTL       0.870000
Name: 2, dtype: float64
ID     5595.000000
Age       2.580822
RTL       0.780000
Name: 3, dtype: float64
ID     5595.000000
Age       0.328767
RTL       0.920000
Name: 4, dtype: float64
ID     5629.000000
Age       0.019178
RTL       0.990000
Name: 0, dtype: float64
ID     5629.000000
Age       0.164384
RTL       0.460000
Name: 1, dtype: float64
ID     5624.000000
Age       3.183562
RTL       0.310000
Name: 0, dtype: float64
ID     5624.000000
Age       0.843836
RTL       1.260000
Name: 1, dtype: float64
ID     5624.000000
Age       0.246575
RTL       0.940000
Name: 2, dtype: float64
ID     5619.000000
Age       0.545205
RTL       0.640000
Name: 0, dtype: float64
ID     5619.000000
Age       0.328767
RTL       0.620000
Name: 1, dtype: float64
ID     5835.000000
Age       0.657534
RTL       1.030000
Name: 0, dtype: float64
ID     5835.000000
Age       2.884932
RTL       0.800000
Name: 1, dtype: float64
ID     5835.000000
Age       0.893151
RTL       0.420000
Name: 2, dtype: float64
ID     5774.00000
Age       1.69589
RTL       1.08000
Name: 0, dtype: float64
ID     5774.000000
Age       2.613699
RTL       0.640000
Name: 1, dtype: float64
ID     5774.000000
Age       0.246575
RTL       1.450000
Name: 2, dtype: float64
ID     5786.000000
Age       0.564384
RTL       0.190000
Name: 0, dtype: float64
ID     5786.000000
Age       0.246575
RTL       1.370000
Name: 1, dtype: float64
ID     5615.000000
Age       0.328767
RTL       0.540000
Name: 0, dtype: float64
ID     5615.000000
Age       0.410959
RTL       1.170000
Name: 1, dtype: float64
ID     5833.000000
Age       1.635616
RTL       1.230000
Name: 0, dtype: float64
ID     5833.000000
Age       1.268493
RTL       1.150000
Name: 1, dtype: float64
ID     5833.000000
Age       3.260274
RTL       0.750000
Name: 2, dtype: float64
ID     5833.00
Age       1.00
RTL       0.72
Name: 3, dtype: float64
ID     5617.000000
Age       0.246575
RTL       0.880000
Name: 0, dtype: float64
ID     5617.000000
Age       0.449315
RTL       0.970000
Name: 1, dtype: float64
ID     5627.00000
Age       0.49863
RTL       0.39000
Name: 0, dtype: float64
ID     5627.000000
Age       0.328767
RTL       0.720000
Name: 1, dtype: float64
ID     5653.00000
Age       1.90411
RTL       0.63000
Name: 0, dtype: float64
ID     5653.000000
Age       0.021918
RTL       1.030000
Name: 1, dtype: float64
ID     5658.000000
Age       0.923288
RTL       1.540000
Name: 0, dtype: float64
ID     5658.000000
Age       0.164384
RTL       0.610000
Name: 1, dtype: float64
ID     5658.000000
Age       1.569863
RTL       0.610000
Name: 2, dtype: float64
ID     5599.000000
Age       0.517808
RTL       1.180000
Name: 0, dtype: float64
ID     5599.000000
Age       0.328767
RTL       0.430000
Name: 1, dtype: float64
ID     5748.000000
Age       2.057534
RTL       0.740000
Name: 0, dtype: float64
ID     5748.000000
Age       0.920548
RTL       1.200000
Name: 1, dtype: float64
ID     5748.000000
Age       0.487671
RTL       0.770000
Name: 2, dtype: float64
ID     5748.000000
Age       1.112329
RTL       0.580000
Name: 3, dtype: float64
ID     5769.000000
Age       1.342466
RTL       0.530000
Name: 0, dtype: float64
ID     5769.000000
Age       0.789041
RTL       0.950000
Name: 1, dtype: float64
ID     5769.000000
Age       2.969863
RTL       0.490000
Name: 2, dtype: float64
ID     5769.000000
Age       0.328767
RTL       0.980000
Name: 3, dtype: float64
ID     5628.00000
Age       0.40274
RTL       0.59000
Name: 0, dtype: float64
ID     5628.000000
Age       0.035616
RTL       0.840000
Name: 1, dtype: float64
ID     5779.0
Age       1.0
RTL       0.5
Name: 0, dtype: float64
ID     5779.000000
Age       3.608219
RTL       0.570000
Name: 1, dtype: float64
ID     5826.000000
Age       0.917808
RTL       0.900000
Name: 0, dtype: float64
ID     5826.000000
Age       2.356164
RTL       0.910000
Name: 1, dtype: float64
ID     5826.00
Age       1.80
RTL       0.67
Name: 2, dtype: float64
ID     5826.000000
Age       0.657534
RTL       0.500000
Name: 3, dtype: float64
ID     5766.000000
Age       0.328767
RTL       0.790000
Name: 0, dtype: float64
ID     5766.000000
Age       2.953425
RTL       0.500000
Name: 1, dtype: float64
ID     5766.000000
Age       1.986301
RTL       1.390000
Name: 2, dtype: float64
ID     5766.000000
Age       1.378082
RTL       0.500000
Name: 3, dtype: float64
ID     5630.000000
Age       3.238356
RTL       1.400000
Name: 0, dtype: float64
ID     5630.000000
Age       0.871233
RTL       0.530000
Name: 1, dtype: float64
ID     5630.000000
Age       0.328767
RTL       0.800000
Name: 2, dtype: float64
ID     5765.000000
Age       0.246575
RTL       0.880000
Name: 0, dtype: float64
ID     5765.000000
Age       0.663014
RTL       1.010000
Name: 1, dtype: float64
ID     5654.000000
Age       0.320548
RTL       0.880000
Name: 0, dtype: float64
ID     5654.000000
Age       0.027397
RTL       0.710000
Name: 1, dtype: float64
ID     5768.000000
Age       0.246575
RTL       0.270000
Name: 0, dtype: float64
ID     5768.000000
Age       0.887671
RTL       0.620000
Name: 1, dtype: float64
ID     5764.000000
Age       2.682192
RTL       0.910000
Name: 0, dtype: float64
ID     5764.000000
Age       0.246575
RTL       0.540000
Name: 1, dtype: float64
ID     5781.000000
Age       0.657534
RTL       1.090000
Name: 0, dtype: float64
ID     5781.000000
Age       1.021918
RTL       0.580000
Name: 1, dtype: float64
ID     5657.000000
Age       3.021918
RTL       0.990000
Name: 0, dtype: float64
ID     5657.000000
Age       0.030137
RTL       1.510000
Name: 1, dtype: float64
ID     5657.000000
Age       0.868493
RTL       1.150000
Name: 2, dtype: float64
ID     5657.000000
Age       1.068493
RTL       0.420000
Name: 3, dtype: float64
ID     5750.000000
Age       1.109589
RTL       0.970000
Name: 0, dtype: float64
ID     5750.000000
Age       1.991781
RTL       0.760000
Name: 1, dtype: float64
ID     5749.00000
Age       2.00274
RTL       0.56000
Name: 0, dtype: float64
ID     5749.000000
Age       0.328767
RTL       0.770000
Name: 1, dtype: float64
ID     5594.000000
Age       1.547945
RTL       0.570000
Name: 0, dtype: float64
ID     5594.000000
Age       0.328767
RTL       0.480000
Name: 1, dtype: float64
ID     5594.000000
Age       0.545205
RTL       1.070000
Name: 2, dtype: float64
ID     5847.00
Age       1.00
RTL       1.44
Name: 0, dtype: float64
ID     5847.000000
Age       1.863014
RTL       0.580000
Name: 1, dtype: float64
ID     5847.000000
Age       2.978082
RTL       1.040000
Name: 2, dtype: float64
ID     5639.000000
Age       1.342466
RTL       0.340000
Name: 0, dtype: float64
ID     5639.000000
Age       0.246575
RTL       0.450000
Name: 1, dtype: float64
ID     5639.000000
Age       2.268493
RTL       0.770000
Name: 2, dtype: float64
ID     5639.000000
Age       1.161644
RTL       1.060000
Name: 3, dtype: float64
ID     5648.000000
Age       2.128767
RTL       1.060000
Name: 0, dtype: float64
ID     5648.000000
Age       0.164384
RTL       0.950000
Name: 1, dtype: float64
ID     5837.000000
Age       0.657534
RTL       0.710000
Name: 0, dtype: float64
ID     5837.000000
Age       1.709589
RTL       1.030000
Name: 1, dtype: float64
ID     5649.000000
Age       0.030137
RTL       0.930000
Name: 0, dtype: float64
ID     5649.000000
Age       0.312329
RTL       1.360000
Name: 1, dtype: float64
ID     5638.000000
Age       0.246575
RTL       1.100000
Name: 0, dtype: float64
ID     5638.000000
Age       2.742466
RTL       0.960000
Name: 1, dtype: float64
ID     5825.000000
Age       1.958904
RTL       1.400000
Name: 0, dtype: float64
ID     5825.000000
Age       1.531507
RTL       0.780000
Name: 1, dtype: float64
ID     5787.000000
Age       0.449315
RTL       0.750000
Name: 0, dtype: float64
ID     5787.000000
Age       0.164384
RTL       1.100000
Name: 1, dtype: float64
ID     5829.000000
Age       0.164384

In [7]:
changeRate_df

      Bird_ID  Age_Change  RTL_Change
0      5511.0    0.246575        1.06
1      5559.0    4.057534        0.08
2      5527.0    0.328767        1.02
3      5539.0    1.306849       -0.25
4      5536.0    3.920548        0.49
...       ...         ...         ...
1311    163.0    9.350685        1.21
1312    494.0    4.915068        0.70
1313   4847.0    2.246575        1.01
1314    220.0    9.616438        0.69
1315    216.0    8.947945        1.18

[1316 rows x 3 columns]